@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Roboto+Mono&display=swap');

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 755px;
  margin: 0 auto;
  background: #0F0F0F;
  color: white;
  font-size: 42px;
  background-image: url('./src/assets/img/topMargin.png'), url('./src/assets/img/btmMargin.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: auto, auto;
}

.welcomeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.welcomeTitleTop {
  font-family: "Germania One", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1px;
}

.welcomeTitleBottom {
  color: #DA8B14;
  border-bottom: 4px dashed #DA8B14;
}

.welcomeText {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #EFB55E;
}

.startBtn {
  border: none;
  outline: none;
  display: inline-block; 
  margin-top: 50px;
  cursor: pointer;
}

.screenTitle {
  font-family: 'Germania One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #DA8B14;
  margin-bottom: 10px;
}

.fighterBox {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fighterName {
  font-family: 'Germania One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.statBox {
  display: flex;
  gap: 5px;
}

.statName {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #DA8B14;
}

.statValue {
  margin-top: 4px;
  font-family: 'Germania One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.oval {
  position: absolute;
  width: 193px;
  height: 20px;
  left: 91px;
  top: 313px;
  border-radius: 50%;
  background: #DA8B14;
  opacity: 0.4;
  top: 155px;
  left: 0px;
}

.chooseBtn {
  margin-top: 40px;
}

.fighterImg {
  z-index: 10;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepImg {
  width: 146px;
}